/* Add here all your CSS customizations */
.new{
	margin-bottom: 50px !important;
}


.section-instagram{
	padding-bottom: 50px;
	padding-top: 50px;
}

.home-1 #main-nav > ul > li > a.active{
	color: #0b83fe;
}

@media (min-width: 280px) and (max-width: 480px){
	.product-container .label{
		font-size: 10px;
	}
}

@media (min-width: 280px) and (max-width: 480px){
	.text_large img{
		width: 250px;
	}
}

.ltc li{
	font-size: 18px;
}

.slider1 .item img{
	width: 100%;
	height: auto;
<<<<<<< HEAD
}

=======
}
>>>>>>> de6baf6b37b5b54cc970dccda88c54b7bdfe347e
